.card-action {
    height: 70px;
}

.card-title {
    color: black;
    font-weight: bold;
}

.email-ic{
    color: red;
}

.password-ic{
    color: red;
}

.msg{
    padding-left: 20px;
    color: red;
}

i {
    color: black;
}

p {
    color: black;
    padding-right: 15px;
}


.modal { max-height: 100% !important;  max-width: 35% !important ;} 

#forgotPassword .modal-content h5 {
    padding: 20px 0;
}

#forgotPassword .modal-footer .group-button{
    padding-right: 15px;
}

.loader-div{
    display: flex; 
    justify-content: center; 
    flex-direction:column; 
    align-items: center;
}

.loader-div .loader {
    border: 3px solid grey;
    border-radius: 50%;
    border-top: 3px solid #0290AA;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }