@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

$tablet-width: 768px;
$desktop-width: 1026px;
$desktop-full: 1600px;

// Midias Queries
@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin mobile {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop-full {
    @media (min-width: #{$desktop-full}) {
        @content;
    }
}

@mixin flex-box() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

* {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1c161a;
    color: white;
    
}

.accordion {
    margin-bottom: 1em;
    max-width: 65em;

    & > input[type="checkbox"] {
        position: absolute;
        left: -100vw;
    }

    .content {
        overflow-y: hidden;
        height: 0;
        transition: height 0.5s ease-out;
        
    }

    & > input[type="checkbox"]:checked ~ .content {
        height: auto;
        overflow: visible;
    }

    label {
        display: block;
    }

    & > input[type="checkbox"]:checked ~ .content {

        @include mobile(){
            padding: 15px 10px;
        }

        @include landscape(){
            padding: 15px 10px;
        }

        @include tablet(){
            padding: 15px 30px;
        }
    }

    .handle {
        margin: 0;
        font-size: 1.125em;
        line-height: 1.2em;

        label .arrow:before {
            font-family: "fontawesome";
            content: "\f078";
            display: inline-block;
            margin-right: 10px;
            font-size: 1em;
            line-height: 1.556em;
            vertical-align: middle;
            float: right;
            transition: all 1s ease-in-out;
            color: white;
            font-weight: normal;
        }
    }

    label {
        color: #5DB3FF;
        cursor: pointer;
        font-weight: bold;
        background: transparent;
        border-bottom: 1px solid #e8e8e8;

        @include mobile(){
            padding: 15px 10px;
        }

        @include landscape(){
            padding: 15px 10px;
        }

        @include tablet(){
            padding: 15px 30px;
        }
    }

    label:hover,
    label:focus {
        background: transparent;
    }

    & > input[type="checkbox"]:checked ~ .handle label .arrow:before {
        content: "\f077";
    }

    p:last-child {
        margin-bottom: 0;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
